<div id="app_search" class="myuw-search">
	<div class="myuw-wrapper">
		<form action="/search" method="get" class="uw-search">
		    <label class="sr-only" for="search-nav">Search for:</label>
		    <input id="search-nav" name="q" type="text" placeholder="Search for:">
		    <button type="submit" value="Search">Search</button>
		</form>
	</div>
</div>
