<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #7b59b3;"></span>
		<span class="sg-label">
			@uw-purple-light <br />
			#7b59b3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4b2e84;"></span>
		<span class="sg-label">
			@uwpurple <br />
			#4b2e84
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #452a78;"></span>
		<span class="sg-label">
			@uw-purple-dark <br />
			#452a78
		</span>
	</li>
</ul>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #efe2cd;"></span>
		<span class="sg-label">
			@myuw <br />
			#efe2cd
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e8e3d3;"></span>
		<span class="sg-label">
			@lighttan, @uw-gold <br />
			#e8e3d3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #85754d;"></span>
		<span class="sg-label">
			@darktan, @uw-metalic-gold <br />
			#85754d
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f5;"></span>
		<span class="sg-label">
			@uw-light-gray <br />
			#f5f5f5
		</span>
	</li>
</ul>
