<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fcf9e3;"></span>
		<span class="sg-label">
			@notice-bg <br />
			#fcf9e3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5d300;"></span>
		<span class="sg-label">
			@yellow <br />
			#f5d300
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff9900;"></span>
		<span class="sg-label">
			@orange <br />
			#ff9900
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #AB9765;"></span>
		<span class="sg-label">
			@icon-break-color <br />
			#AB9765
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #633a31;"></span>
		<span class="sg-label">
			@brown <br />
			#633a31
		</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgba(100, 185, 84, 0.08);"></span>
		<span class="sg-label">
			@detail-section <br />
			rgba(100, 185, 84, 0.08)
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">
			@gray <br />
			#cccccc
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1155cc;"></span>
		<span class="sg-label">
			@blue <br />
			#1155cc
		</span>
	</li>
</ul>
