<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2E6884;"></span>
		<span class="sg-label">
			@c1 <br />
			#2E6884
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #36799A;"></span>
		<span class="sg-label">
			@c1a <br />
			#36799A
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #844B2E;"></span>
		<span class="sg-label">
			@c2 <br />
			#844B2E
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9A5736;"></span>
		<span class="sg-label">
			@c2a <br />
			#9A5736
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #14511E;"></span>
		<span class="sg-label">
			@c3 <br />
			#14511E
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #218431;"></span>
		<span class="sg-label">
			@c3a <br />
			#218431
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">
			@c4 <br />
			#444444
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #646464;"></span>
		<span class="sg-label">
			@c4a <br />
			#646464
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #91279f;"></span>
		<span class="sg-label">
			@c5 <br />
			#91279f
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #BD37CF;"></span>
		<span class="sg-label">
			@c5a <br />
			#BD37CF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #716141;"></span>
		<span class="sg-label">
			@c6 <br />
			#716141
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #84734C;"></span>
		<span class="sg-label">
			@c6a <br />
			#84734C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4B2E84;"></span>
		<span class="sg-label">
			@c7 <br />
			#4B2E84
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #653FB2;"></span>
		<span class="sg-label">
			@c7a <br />
			#653FB2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #352E9B;"></span>
		<span class="sg-label">
			@c8 <br />
			#352E9B
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #473EC5;"></span>
		<span class="sg-label">
			@c8a <br />
			#473EC5
		</span>
	</li>
</ul>
