<div>Primary font: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</div>
<div><em>Primary font italic: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</em></div>
<div><strong>Primary font bold: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</strong></div>
<br/>
<div class="font-secondary"><strong>Secondary font bold: 'encode_sans_normalbold', sans-serif</strong></div>
<br/>
<div class="font-tertiary"><strong>Tertiary font: 'Roboto', sans-serif;</strong></div>
