<div>Primary font: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</div>
<div><em>Primary font italic: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</em></div>
<div><strong>Primary font bold: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;</strong></div>
<div class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div>
