<div class="myuw-banner-desktop app-messages" id="app_messages_desktop" aria-labelledby="app_messages_desktop_label" role="complementary">
    <div class="message-banner">
        <h2 class="sr-only" id="app_messages_desktop_label">MyUW Announcements</h2>
        <div id="message_banner_location">
            <div id="messages" class="message-text myuw-wrapper">
                <div class="message">
                    <p>{{{ alertText }}}</p>
                </div>
            </div>
        </div>
   </div>
</div>
