<button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" data-content="{{ popoverContent }}">{{ popoverAction }}</button>

<br/><br/>

<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="{{ popoverTitle }}" data-content="{{ popoverContent }}">{{ popoverAction }}</a>
