<p>The following are the current collection of heading styles in MyUW.</p>

<h2 class="myuw-heading-page">Page Title (h2)</h2>
<h3 class="myuw-heading-subheading">Page Heading (h3)</h3>

<br/>
<h3 class="myuw-canvas-title">Canvas Title (h3)</h3>
<h4 class="myuw-canvas-subheading">Canvas Sub-heading (h4)</h4>

<br/>
<h3 class="myuw-card-title">Card Title (h3)</h3>
<h4 class="myuw-card-subheading">Card Sub-heading (h4)</h4>
<h4 style="font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #85754d;
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-size: 16px;">Financial Aid (Tuition Card) (h4)</h4>

<h4 class="myuw-card-row-heading">Card Row-heading (h4)</h4>

<h3 class="">
    <span class="myuw-course-abbrtitle">CRSE ABBR (encode-sans)</span>
    <span class="myuw-course-shortname">COURSE SHORTNAME (roboto)</span>
</h3>

<hr>
<p>The following are a new proposal for cleaning up our heading styles.</p>

<div class="new">

    <h2>Page Title</h2>
    <h3>Page Heading Level 3</h3>
    <h4>Page Heading Level 4</h4>
    <h5>Page Heading Level 5</h5>

    <br/>

    <h3 class="myuw-canvas-title">Canvas Title (h3)</h3>
    <h4 class="myuw-canvas-subheading">Canvas Sub-heading (h4)</h4>


</div>
