<br/>
<p>The following are the current collection of heading styles in MyUW.</p>

<h2 class="myuw-heading-page">h2. Page Title (Encode Sans)</h2>
<h3 class="myuw-heading-subheading">h3. Page Heading (Open Sans)</h3>

<br/>
<h3 class="myuw-canvas-title">h3. Canvas Title (Open Sans)</h3>
<h4 class="myuw-canvas-subheading">h4. Canvas Heading (Open Sans)</h4>

<br/>
<h3 class="myuw-card-title">h3. Card Title (Encode Sans)</h3>
<h4 class="myuw-card-subheading">h4. Card Heading (Roboto)</h4>
<h4 style="font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #85754d;
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-size: 16px;">h4. Card Financial Aid (Tuition Card) (Roboto)</h4>
<h4 class="myuw-card-badge-label">h4. Card Badge Label (Roboto)</h4>
<h5 style="font-size: 14px, font-family: 'Open Sans'; font-weight: 100;">h5. CARD ADMISSIONS (Open Sans)</h5>

<h4 class="myuw-card-row-heading">h4. Card Row-heading (Open Sans)</h4>

<br/>
<h3>
    <span class="myuw-course-abbrtitle">h3.span: CRSE ABBR (encode-sans)</span>
    <span class="myuw-course-shortname">h3.span: COURSE SHORTNAME (roboto)</span>
</h3>

<hr>
<p>The following are a new proposal for cleaning up our heading styles.</p>

<div class="new">

    <div class="page">
        <h2>h2. Page Title</h2>
        <h3>h3. Page Heading</h3>
        <h4>h4. Page Heading</h4>
        <h5>h5. Page Heading</h5>
    </div>
    <br/>

    <div class="aside">
        <h3>h3. Aside Canvas Title</h3>
        <h4>h4. Aside Canvas Heading</h4>
    </div>
    <br/>

    <div class="card">
        <h3>h3. Card Title</h3>
        <h4>h4. Card Heading</h4>
        <h4 class="row-heading">h4. Card Row-heading</h4>
        <h5>h5. Card Heading</h5>
    </div>
    <br/>

    <div class="course-card">
        <h3>
            <span class="abbrtitle">h3.span: CRSE ABBR</span>
            <span class="shortname">h3.span: COURSE SHORTNAME</span>
        </h3>
        <h4>h4. Course Card Heading</h4>
        <h4 class="row-heading">h4. Course Card Row-heading</h4>
        <h5>h5. Course Card Heading</h5>
    </div>
</div>
