<h2 class="myuw-heading-page">Page Title</h2>
<h3 class="myuw-heading-subheading">Academic Calendar Sub-heading</h3>

<br/>
<h3 class="myuw-canvas-title">Canvas Title (h3)</h3>
<h4 class="myuw-canvas-subheading">Canvas Sub-heading (h4)</h4>

<br/>
<h3 class="myuw-card-title">Card Title (h3)</h3>
<h4 class="myuw-card-subheading">Card Sub-heading (h4)</h4>
<h4 class="myuw-card-row-heading">Card Row-heading (h4)</h4>
