
@font-base-size: 14px;
@font-base-lineheight: 24px;
@font-base-lineheight-ratio: 1.71428571em;

@fontface-base: "Open Sans", Helvetica, Arial, Verdana, sans-serif;


html {
    font-size: @font-base-size;
    line-height: @font-base-lineheight;
}

body {
    font-family: @fontface-base;
    line-height: @font-base-lineheight-ratio;
}
