
@font-base-size: 14px;
@font-base-lineheight: 24px;
@font-base-lineheight-ratio: 1.71428571em;
@font-header-lineheight: 1.2em;

@fontface-base: "Open Sans", Helvetica, Arial, Verdana, sans-serif;


html {
    font-size: @font-base-size;
    line-height: @font-base-lineheight;
}

body {
    font-family: @fontface-base;
    line-height: @font-base-lineheight-ratio;
}

/* Major Third Type Scale */

h1 { font-size: 2.441rem; }

h2 { font-size: 1.953rem; }

h3 { font-size: 1.563rem; }
h4 { font-size: 1.25rem; }
