


/* Links */
a {
    text-decoration: none;
    color: #4d66ca;
}
a:hover, a:focus {
    text-decoration: underline;
    color: #334baa;
}


hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}
