
	<ul class="footer-links-list myuw-inline-list">

		{{# footerNav }}
		<li class="footer-links-list-item"><a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></li>
		{{/ footerNav }}

	</ul><!--end c-footer-nav__list-->
